.App {
  text-align: center;
  background-image: url("bg.png");  
  min-height: 100vh;
  background-size: 100vh;
  background-position: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: white;
  min-height: 60vh;
  max-width: 80%;
  margin: auto;
  margin-bottom: -70px;
  margin-top: -160px;
  line-height: 4vh;
}

.App-header p{
  font-family: "Verdana";
  font-size: 3vh;
}

img{
  margin-top: 10%;
  margin-bottom: -90px;
}

.App-link {
  color: #61dafb;
}

button {
  color: white;
  background-color: rgb(61, 100, 199);
  padding: 2% 5%;
  border: none;
  margin: 2%;
  box-shadow: 0 5px 10px 0 rgba(255, 255, 255, 0.10);
}

circle{
  margin-top: 100px;
}

.homebtn{
  display: inline;
  float: left;
  margin-left: 30%;
  margin-right: -25%;
}
