.Feedback {
    text-align: center;
    background-color: #282c34;
    background-image: url("bg.png");
    background-size: 100vh;
    background-position: center;
    min-height: 100vh;
  }
  
.Feedback-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(12px + 2vmin);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
  }
  
.item {
    text-align: left;
    color: white;
}

.item p{
    display: inline;
    margin-left: 7%;
    vertical-align: middle;
}

.item-list{
}

.detail-button {
    /* border: 1px solid black; */
    background-color: rgba(255, 255, 255, 0);
    box-shadow: none;
    padding: 5px;
  }

button {
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 2% 5%;
    border: none;
    margin: 2%;
    box-shadow: 0 5px 10px 0 rgba(255, 255, 255, 0.10);
    border-radius: 10px;
}

.item button{
    padding: 2% 3%;
    margin-right: 7%;
    float: right;
    vertical-align: middle;
    margin-top: 0;
}

.scoretext{
}
  
  
.score {
        font-size: 5vh;
        color: white;
  }
  
p{
    color: white;
}

img{
    margin-bottom: 20px;
}

.item-table {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    /* border: 1px solid black; */
}

.typetext {
    width: 50%;
}

.buttontext {
    width: 10%;
}

.icon {
    padding-top: 75%;
}

.button-group {
    position: relative;
    width: 100%;
    top: 80%;
  }